extends ../layouts/main-layout

block header__title
    title Library with Pug - Home

block body
    table.all-books
        tr
            th
                a( 
                    href="?sort=title" 
                )=bookHeaders.title.toUpperCase()
            th
                a( 
                    href="?sort=author" 
                )=bookHeaders.author.toUpperCase()
            th
                a( 
                    href="?sort=issuedon" 
                )=bookHeaders.issuedon.toUpperCase()
        each book in books
            tr
                td=book.title
                td=book.author
                td=book.issuedon